body{
height:100;
font-family: 'Poppins', sans-serif;

}
  
  /* .btn{
    
   width:200px;
   height:100px;
   border:none;
   color:white;
   background-color: pink;
   border-radius: 4px;
   box-shadow: inset 200px 0 0 0 #f9e506;
   transition: ease-out 0.3s;
  outline:none;
  border: soli
  }
   .btn:hover{
    box-shadow: #f9e506;
    cursor: pointer;
    color:rgb(224, 212, 212)
  }  */
  
 
