body {
height:100;
font-family: 'Poppins', sans-serif;
}

  .navbar{
    margin-top: 1.5rem;
    position: absolute;
    
    
  }

  .navbar.active{
    background-color:black ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5.5rem;
    margin-left: -2rem;
  }
 
  .pic{
    margin-top: 10rem;
    width: 47%;
    margin-left: 50em;
  }
 .details {
    margin-top: 6rem;
    color:white;
  }
  .nav {
    text-decoration:none;
    transition: 0.1s;
    padding-bottom:1rem;
    margin-left: 30;
    color: white;
    font-size: 18;
    
  }
  
  .materiel{
    position:absolute;
    margin-top:-35rem;
    margin-left:53rem;
    width:45%;
  }
 
  