body {
height:100;
font-family: 'Poppins', sans-serif;
}

  .navbar{
    margin-top: 1.5rem;
    position: absolute;
    
    
  }

  .navbar.active{
    background-color:black ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5.5rem;
    margin-left: -2rem;
  }
 
  .pic{
    margin-top: 10rem;
    width: 47%;
    margin-left: 50em;
  }
 .details {
    margin-top: 6rem;
  }